**RFM Segmentation** is a great method to divide
Customers into equal groups depending on three criteria:

**Recency**:- How much time has elapsed since a customerâ€™s last activity or transaction with the company?

**Frequency**:- How often has a customer transacted with the company during a particular period of time?

**Monetary**:- How much a customer has spent with the brand during a particular period of time?

In [0]:
# Import libraries
import pandas as pd
from datetime import timedelta
import matplotlib.pyplot as plt
#import squarify
# Read dataset
df = pd.read_csv('data.csv', encoding = "ISO-8859-1")
# Convert InvoiceDate from object to datetime format
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [17]:
print('First five rows in the dataset:-')
print(df.head())
print('Last five rows in the dataset:-')
print(df.tail())
print(df.info())
print(df.describe())
print('There are {:,} rows and {:,} columns in the dataset.'
      .format(df.shape[0], df.shape[1]))
print('-----------------------------------------------------')
print('{:,} transactions don\'t have a customer id'
      .format(df[df.CustomerID.isnull()].shape[0]))
print('-----------------------------------------------------')
print('Transactions has been started from {} to {}'.format(df['InvoiceDate'].min(),
                                    df['InvoiceDate'].max()))

First five rows in the dataset:-
  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]
Last five rows in the dataset:-
       InvoiceNo StockCode  ... CustomerID         Country
437455    574292     21430  ...    16914.0  United Kingdom
437456    574292     21623  ...    16914.0  United Kingdom
437457    574292     21624  ...    16914.0  United Kingdom
437458    574292     23438  ...    16914.0  United Kingdom
437459    574292     20751  ...        NaN             NaN

[5 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437460 entries, 0 to 437459
Data columns (total 8 columns):
InvoiceNo      437460 non-null object
StockCode      437460 non-null object
Description    436092 non-null object
Quantity       437459 non-null float64
InvoiceDate    437459 non-null datetime64[ns]
UnitPrice      437459 non-null float64
CustomerID     328486 non-null float64
Country        437459 non-null object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 26.7+ MB
None
            Quantity      UnitPrice     CustomerID
count  437459.000000  437459.000000  328486.000000
mean        9.769526       4.700909   15277.285467
std       168.244408     100.745469    1711.937735
min    -74215.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13904.000000
50%         3.000000       2.100000   15144.000000
75%        11.000000       4.130000   16776.000000
max     74215.000000   38970.000000   18287.000000
There are 437,460 rows and 8 columns in the dataset.
-----------------------------------------------------
108,974 transactions don't have a customer id
-----------------------------------------------------
Transactions has been started from 2010-12-01 08:26:00 to 2011-11-03 15:27:00